<Proxy "balancer://mycluster">
    BalancerMember "http://{{ hostvars['serverrocky']['ansible_host'] }}:8080"
</Proxy>
ProxyPass        "/" "balancer://mycluster/"
ProxyPassReverse "/" "balancer://mycluster/"
